body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #747474;
}

.container {
    display: flex;
    align-items: center;
    margin: 12px 15px;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

.container > p {
    padding: 0px 10px;
}

.selected {
    margin-left: auto;
}

.google-logo {
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}

.container-search-box {
    width: 600px;
    top: 150px;
    margin: 12px auto;
    padding-left: 12px;
    padding-top: 6px;
    z-index: 3;
}

.border-search-box {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 2;
    height: 47px;
    position: relative;
}

.border-search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-box {
    margin: 10px;
    display: inline-block;
}

.mic-icon {
    height: 25px;
    vertical-align: middle;
    left: 93%;
    top: 9px;
    position: absolute;
}

.search-box-no-border { 
    border: none;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 2px;
    left: 15px;
}

.buttoms {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.google-search-buttom {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    background-color: #efefef;
}

.google-search-buttom:hover {
    border: 1px solid #C6C6C6;
}

.lucky-buttom {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    pointer-events: auto;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    background-color: #efefef;
}

.lucky-buttom:hover {
    border: 1px solid #c6c6c6;
}

.google-offered {
    margin: auto;
    width: 50%;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 20px;
    
}

.container-footer {
    display: flex;
    align-items: center;
    margin: 10px 17px;
}

.container-footer > p {
    padding: 0px 10px;
    
}

.canada {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #e4e4e4;
}