*{
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

header {
    margin: 20px;
}

.heading {
    text-align: left;
    position: relative;
    word-spacing: 15px;
}

.span-heading {
    float: right;
}

.account-logo {
    height: 40px;
    vertical-align: middle;
}

.app-logo {
    vertical-align: middle;
}

.google-logo {
    height: 100px;
    position: relative;
    top: 150px;
    left: 42%;
}

.buttoms {
    position: relative;
    top: 150px;
    left: 42%;
}

.google-search-buttom {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    background-color: #efefef;
}

.google-search-buttom:hover {
    border: 1px solid #C6C6C6;
}

.lucky-buttom {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    pointer-events: auto;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    background-color: #efefef;
}

.lucky-buttom:hover {
    border: 1px solid #c6c6c6;
}

.border-border {
    width: 600px;
    position: relative;
    top: 150px;
    margin: 20px auto;
    padding-left: 12px;
    padding-top: 6px;
    z-index: 3;
}

.border-search-box {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 2;
    height: 47px;
}

.border-search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-box {
    margin: 10px;
    display: inline-block;
}

.mic-icon {
    height: 30px;
    float: right;
    vertical-align: middle;
    padding-top: 10‒;
    padding-top: 5px;
    padding-right: 10px;
}

.google-offered {
    position: relative;
    top: 180px;
    left: 45%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 20px;
}

.canada {
    position: relative;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ad {
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    word-spacing: 20px;
    border-top: 1px solid #e4e4e4;
    color: rgba(22, 21, 21, 0.651);
}


.span-footer {
    position: relative;
    float: right;
    word-spacing: 20px;
    padding-right: 20px;
}